{% extends "base.html" %}
{% block content %}

{%if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1>Luokat</h1>

<p> 
    <a href="{{base_path}}/luokka/new" class="btn btn-default">Lisää luokka</a>
</p>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Luokan nimi</th>
        </tr>
    </thead>

    <tbody>
        {% for luokka in luokat %}
        <tr>
            <td><a href="{{base_path}}/luokka/{{luokka.id}}">{{luokka.nimi}}</a></td>
            <td><a class="btn btn-default btn-sm" href='{{base_path}}/luokka/{{luokka.id}}/edit'>Muokkaa</a></td>          
        </tr>
        {% endfor %} 
    </tbody>
</table>
{% endblock%}