{% extends "base.html" %}
{% block content %}

{%if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h2>{{luokka.nimi}}</h2>

{% if user_logged_in %}

<form method="post" action="{{base_path}}/luokka/{{luokka.id}}/destroy" class="destroy-form" data-confirm="Haluatko varmasti poistaa luokan?">
    <button type="submit" class="btn btn-danger">Poista</button>
    
<a href="{{base_path}}/luokka/{{luokka.id}}/edit" class="btn btn-default">Muokkaa</a>
</form>

{% endif %}
{% endblock %}
