{% extends "base.html" %}
{% block content %}

<h2>Muokkaa askaretta</h2>

{% if errors %}
<div class="alert alert-danger">
    <ul>
        {% for error in errors %}
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}

{% for attribute in attributes %}

<h1>Muokkaa askaretta {{attribute.nimi}}</h1>

<form method="post" action="{{base_path}}/askare/{{attribute.id}}/muokkaa">
    <div class="form-group">    
        <label>Nimi</label>
        <input name="nimi" type="text" class="form-control" value="{{attribute.nimi}}">
    </div>
    <div class="form-group">
        <label>Tärkeys (1-5)</label>
        <input name="tarkeys" type="text" class="form-control" value="{{attribute.tarkeys}}">
    </div>
    <div class="form-group">
        <label>Valmis</label>
        <input name="Valmis" type="text" class="form-control" value="{{attribute.valmis}}">
    </div>
    <div class="form-group">
        <label>Lisätietoa</label>
        <textarea name="muuta" class="form-control">{{attribute.muuta}}</textarea>
    </div>
    <br>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endfor %}
{% endblock %}