{% extends "base.html" %}
{% block content %}
{% if user_logged_in %}

<h1>Käyttäjän {{user_logged_in.nimi}} muistilista</h1>

{% endif %}

<p> 
    <a href="{{base_path}}/askare/new" class="btn btn-default">Lisää askare</a>
</p>

<table class="table table-condensed">
    <thead>
        <tr>
            <th>Askare</th>
            <th>Tärkeys</th>
            <th>Lisätty</th>
            <th>Valmis</th>
        </tr>
    </thead>

    <tbody>
        {% for askare in askareet %}
        <tr>
            <td><a href="{{base_path}}/askare/{{askare.id}}">{{askare.nimi}}</a></td>

            <td>{{askare.tarkeys}}</td>
            <td>{{askare.lisatty}}</td>
            <td>{{askare.valmis}}</td>
            <td><a class="btn btn-default btn-sm" href='{{base_path}}/askare/{{askare.id}}/edit'>Muokkaa</a></td>          
        </tr>
        {% endfor %} 
    </tbody>
</table>
{% endblock%}