{% extends "base.html" %}
{% block content %}

{%if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h2>{{askare.nimi}}</h2>

{% if user_logged_in %}

<form method="post" action="{{base_path}}/askare{{askare.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
    
<a href="{{base_path}}/askare/{{askare.id}}/edit" class="btn btn-default">Muokkaa</a>

{% endif %}
<ul>
    <li><strong>Tärkeys:</strong> {{askare.tarkeys}}</li>
    <li><strong>Lisätty:</strong> {{askare.lisatty}}</li>
    <li><strong>Valmis: </strong> {{askare.valmis}}</li>
</ul>

<p>
    {{askare.muuta}}
</p>

{% endblock %}