{% extends "base.html" %}
{% block content %}

{%if message %}
<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

{% for askare in askareet 
<h2>{{askare.nimi}}</h2>

<p>
<form method="post" action="{{base_path}}/askare/{{askare.id}}/destroy" style="display: inline-block;">
    <button type="submit" class="btn btn-danger">Poista</button>
</form>
<a href="{{base_path}}/askare/{{askare.id}}/muokkaa" class="btn btn-default">Muokkaa</a>
</p>

<ul>
    <li><strong>Tärkeys:</strong> {{askare.tarkeys}}</li>
    <li><strong>Lisätty:</strong> {{askare.lisatty}}</li>
    <li><strong>Valmis: </strong> {{askare.valmis}}</li>
</ul>

<p>
    {{askare.muuta}}
</p>

{% endfor %}
{% endblock %}