{% extends "base.html" %}
{% block content %}
  <h1>Tietokantojen harkkatyö</h1>
  <!-- Painikkeet tähän -->
  <p>
    <a href="#" class="btn btn-default">Muokkaa</a>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
  </p>
  <!-- Tiedot tulee listana tähän -->
  <ul>
    <li><strong>Tärkeys:</strong>1</li>
    <li><strong>Luokka:</strong> Opiskelu</li>
    <li><strong>Aloitettu:</strong> 27.7.2015</li>
    <li><strong>Valmis:</strong> 30.8.2015</li>
    <li><strong>Lisätietoa:</strong> Pakollinen kurssi</li>
    
  </ul>
  <!-- Kuvaus tulee tähän -->
  <p>
    Kurssilla on ohjaaja jolta saa apua. 
  </p>
{% endblock %}
